body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.app-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inputs {
    width: 48%;
}

.form-inputs input,
.form-inputs select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.add-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.edit-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #1f50c3;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.view-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid lightgray;
    color: rgb(77, 77, 77);
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.form-buttons .add-button:hover {
    background-color: #45a049;
}

.form-buttons .cancel-button:hover {
    background-color: #960505;
}

.artist-list {
    list-style: none;
    padding: 0;
}

.artist-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s;
}

.artist-list li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artist-list li div {
    width: 75%;
}

.artist-list li .actions {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.artist-list button {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}